%div{:id => "presentation", :class => "question"}
  %div{:id => "presentation_container"}
    %div{:class => "question_container"}
      %h1
        Djantocode
      %p
        Entrez le programme et le nombre de QRCode voulu. Validez et téléchargez les codes.

    %form{:action => "/codes", :method => "post"}
      %div{:class => "question_container"}
        %label{:for => "program"}
          %h2
            Quel est le programme ?
        %input{:type => "text", :name => "program", :id => "program"}
      %div{:class => "question_container"}
        %label{:for => "count"}
          %h2
            Quel est le nombre de code désiré ?
        %input{:type => "text", :name => "count", :id => "count"}
      %div{:class => "question_container"}
        %label{:for => "start_id"}
          %h2
            Entrez l'identifiant de départ. Laissez la case vide pour reprendre au dernier identifiant généré (#{@last_key}) :
        %input{:type => "text", :name => "start_id", :id => "start_id"}
      %p.submit
        %button{:type => :submit, :value => "Valider"}
          Valider