%div#thanks
  %div.container
    %p
      Vos codes on été préparés. Vous pouvez maintenant les télécharger.
    %p
      %a{:href => "/codes/download/#{params[:program]}/#{params[:count]}", :class => "button"}
        Télécharger
